include /partials/header
include /partials/footer
include /partials/count-selector

html
  head
    block title
      title Canvas Engines Comparison

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    meta(name="title" content="Canvas Engines Comparison")
    meta(name="description" content="Render multiple moving rectangles to compare a number of canvas engines.")

    meta(property="og:url" content="https://benchmarks.slaylines.io")
    meta(property="og:image" content="../assets/cover.png")
    meta(property="og:title" content="Canvas Engines Comparison")
    meta(property="og:type" content="website")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="Canvas Engines Comparison")
    meta(name="twitter:image" content="../assets/cover.png")

    link(rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon")
    link(rel="icon" href="../assets/favicon.ico" type="image/x-icon")

    link(rel="stylesheet" href="../styles/index.css")

  body
    +header()

    main
      +count-selector()
      .meter

    +footer()

    block scripts
