@import './index.css';

.content {
  position: relative;
  width: 100%;
  height: 80%;
}

.selector {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5em;
}
.selector > span {
  margin-right: 1em;
  font-size: 1.2em;
}
.selector > a {
  margin-right: 0.5em;
}
.selector > a.selected {
  color: #333;
  border-bottom-color: #fff;
  cursor: default;
  pointer-events: none;
}

svg, canvas {
  margin-top: 1em;
  border: 1px solid #999;
}

a.github {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 8px 6px 34px;
  border: none;
  color: #333;
  border: 1px solid #999;
  border-radius: 4px;
}
a.github:before {
  position: absolute;
  content: '';
  background-image: url('../assets/github.png');
  background-size: contain;
  width: 20px;
  height: 20px;
  top: 4px;
  left: 6px;
}
a.github:hover {
  border-color: #333;
}
