mixin count-selector()
  .count-selector
    div Count
    a(href="") 500
    a(href="") 1000
    a(href="") 2000
    a(href="") 4000
    a(href="") 8000
    div.danger(title="Danger zone!") ⚠
    a(href="") 16000
    a(href="") 32000
    a(href="") 64000
    a(href="") 128000
    a(href="") 256000
