mixin header()
  header
    menu
      a(href="./pixi.pug") Pixi.js
      a(href="./mesh.pug") Mesh.js
      a(href="./p5.pug") P5.js
      a(href="./zrender.pug") ZRender
      a(href="./two.pug") Two.js
      a(href="./konva.pug") Konva.js
      a(href="./canvaskit.pug") CanvasKit
      a(href="./paper.pug") Paper.js
      a(href="./easeljs.pug") EaselJS
      a(href="./pencil.pug") Pencil.js
      a(href="./pts.pug") Pts
      a(href="./fabric.pug") Fabric.js
      a(href="./svgjs.pug") SVG.js
      a(href="./scrawl-canvas.pug") Scrawl-canvas
      a(href="./threejs.pug") Three JS
      a(href="./dom.pug") DOM
      a(href="./vanilla.pug") Raw JS

    a.github(href="https://github.com/slaylines/canvas-engines-comparison" target="_blank") See on GitHub
