mixin header()
  header
    menu
      a(href="./pixi.pug") Pixi.js
      a(href="./two.pug") Two.js
      a(href="./paper.pug") Paper.js
      a(href="./fabric.pug") Fabric.js
      a(href="./pencil.pug") Pencil.js
      a(href="./konva.pug") Konva.js
      -// a(href="./scrawl-canvas.pug") Scrawl-canvas.js
      a(href="./threejs.pug") Three JS
      a(href="./p5.pug") P5.js
      a(href="./zrender.pug") ZRender

    a.github(href="https://github.com/slaylines/canvas-engines-comparison" target="_blank") See on GitHub
